<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="25px">

  <h1>
    Welcome to gifchess
  </h1>

  <h2>{{ content }}</h2>

  <mat-divider fxFlexAlign="stretch"></mat-divider>

  <form fxFlex="stretch" class="form" [formGroup]="form" (ngSubmit)="submit()">
    <p>Get your own gif from a lichess game ID</p>
    <mat-form-field class="input">
      <mat-label> lichess game ID, or game url</mat-label>
      <input matInput placeholder="example: bR4b8jno" formControlName="lichessID">
      <mat-error>Please enter a lichess ID or lichess game url (min 8 characters)</mat-error>
    </mat-form-field>
    <button mat-stroked-button fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5 px">
      <mat-icon>cloud_download</mat-icon>
      <span> Download your game gif </span>
    </button>
    <div *ngIf="isLoading">
      <p>Please wait while your gif is being generated... This might take some time</p>
    </div>
  </form>


  <mat-divider fxFlexAlign="stretch"></mat-divider>

  <div>
    <p>This site is free, its servers are not. Please consider a donation to make things running as long as we can !</p>
    <p>Every 30$ will pay one server for one month. Enjoy !</p>
    <ah-paypal></ah-paypal>
  </div>

  <mat-divider fxFlexAlign="stretch"></mat-divider>

  <div fxLayout="column" fxLayoutAlign="start center">
    <img class="demo" src="assets/BI5pQatH.gif">
    <p> Example output from game BI5pQatH</p>
  </div>

  <share-buttons [show]="4"></share-buttons>

</div>
